This file was tested with MacOS using Conda for Python management.

Make sure that your Python env has `pandas` and `sqlalchemy` installed. I also had to install `psycopg2` manually.

In [1]:
import pandas as pd
pd.__version__

'1.5.2'

The CSV file is very big and Pandas may not be able to handle it properly if the whole thing doesn't fit in RAM. We will only import 100 rows for now.

In [11]:
df = pd.read_parquet(r'D:\Python Projects\Zoomcamp\ny_taxi_data\green_tripdata_2022-08.parquet')
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-08-01 00:18:31,2022-08-01 00:31:33,N,1.0,80,225,1.0,2.90,11.50,0.5,0.5,0.00,0.00,None,0.3,12.80,2.0,1.0,0.0
1,2,2022-08-01 00:08:50,2022-08-01 00:15:37,N,1.0,74,41,1.0,1.34,7.00,0.5,0.5,1.66,0.00,None,0.3,9.96,1.0,1.0,0.0
2,2,2022-08-01 00:34:11,2022-08-01 00:45:50,N,1.0,74,116,1.0,2.30,10.00,0.5,0.5,1.00,0.00,None,0.3,12.30,1.0,1.0,0.0
3,2,2022-08-01 00:54:39,2022-08-01 01:26:55,N,1.0,179,198,1.0,8.25,28.50,0.5,0.5,0.00,0.00,None,0.3,29.80,2.0,1.0,0.0
4,2,2022-08-01 00:11:58,2022-08-01 00:33:58,N,5.0,130,42,1.0,13.30,55.00,0.0,0.0,0.00,6.55,None,0.3,61.85,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65924,2,2022-08-31 21:16:00,2022-08-31 21:41:00,None,NaN,256,140,NaN,6.58,23.91,0.0,0.0,6.06,0.00,None,0.3,33.02,NaN,NaN,NaN
65925,2,2022-08-31 22:28:00,2022-08-31 22:35:00,None,NaN,244,116,NaN,0.82,10.15,0.0,0.0,3.94,0.00,None,0.3,14.39,NaN,NaN,NaN
65926,2,2022-08-31 22:20:00,2022-08-31 22:22:00,None,NaN,165,165,NaN,0.29,10.20,0.0,0.0,2.63,0.00,None,0.3,13.13,NaN,NaN,NaN
65927,2,2022-08-31 22:21:00,2022-08-31 22:38:00,None,NaN,152,68,NaN,6.66,28.78,0.0,0.0,7.62,0.00,None,0.3,39.45,NaN,NaN,NaN
65928,2,2022-08-31 23:18:00,2022-08-31 23:45:00,None,NaN,112,188,NaN,6.45,27.91,0.0,0.0,6.86,0.00,None,0.3,35.07,NaN,NaN,NaN

We will now create the ***schema*** for the database. The _schema_ is the structure of the database; in this case it describes the columns of our table. Pandas can output the SQL ***DDL*** (Data definition language) instructions necessary to create the schema.

In [12]:
# We need to provide a name for the table; we will use 'yellow_taxi_data'
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" TEXT,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

Note that this only outputs the instructions, it hasn't actually created the table in the database yet.

Even though we have the DDL instructions, we still need specific instructions for Postgres to connect to it and create the table. We will use `sqlalchemy` for this.

In [14]:
from sqlalchemy import create_engine

An ***engine*** specifies the database details in a URI. The structure of the URI is:

`database://user:password@host:port/database_name`

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
# run this cell when the Postgres Docker container is running
engine.connect()

In [17]:
# we can now use our engine to get the specific output for Postgres
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

We will now finally create the table in the database. With `df.head(n=0)` we can get the name of the columns only, without any additional data. We will use it to generate a SQL instruction to generate the table.

In [20]:
# we need to provide the table name, the connection and what to do if the table already exists
# we choose to replace everything in case you had already created something by accident before.
# df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

You can now use `pgcli -h localhost -p 5432 -u root -d ny_taxi` on a separate terminal to look at the database:

* `\dt` for looking at available tables.
* `\d yellow_taxi_data` for describing the new table.

Let's include our current chunk to our database and time how long it takes.

In [21]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 1.58 s
Wall time: 5.28 s

495